.fa-caret-up {
    color: green;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.75em !important;
}

.fa-caret-down {
    color: red;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.75em !important;
}

.fa-minus {
    color: #999;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1em !important;
}

.fa-plus {
    font-size: 1em !important;
    color: green;
    text-shadow: 1px 1px 1px #ccc;
}

.h1, h1 {
    font-size: 26px;
}

.h2, h2 {
    font-size: 24px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

.rank-col {
    text-align: center;
    font-weight: 400;
}

.add-profile {
    padding: 1em;
}

.loader {
    background: rgba(50, 50, 50, 0.9) none repeat scroll 0 0;
    height: 100%;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    vertical-align: middle;
    width: 100%;
    z-index: 1040;
}

.glyphicon-exclamation-sign {
    font-size: 2.5em;
    color: white;
    top: 50%;
    position: fixed;
    text-shadow: 1px 1px 1px #555;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
    font-size: 2.5em;
    color: black;
    top: 50%;
    position: fixed;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spinw {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spinm {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }

    .h1, h1 {
        font-size: 24px;
    }

    .h4, h4 {
        font-size: 14px;
    }

    .h2, h2 {
        font-size: 20px;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 14px;
    }
}